Source: openpanel-openapp-mod-drupal
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com>
Build-Depends: debhelper (>= 5), openpanel-dev
Standards-Version: 3.7.2

Package: openpanel-openapp-mod-drupal
Architecture: any
Pre-Depends: openpanel-core, openpanel-authd
Depends: openpanel-core, openpanel-api-sh, ${shlibs:Depends}, ${misc:Depends}, mysql-server, mysql-client, pwgen, openapp-drush-installer, php5-cli
Description: OpenPanel module to manage OpenApp Drupal
  manage the OpenApp Drupal
